
@{
    ViewData["Title"] = "ArtikelPagina";
}

<link rel="stylesheet" href="~/css/ArtikelPagina.css" />

<h1>Artikelen</h1>
<body>
    <div class="bgImage" />
</body>

<div class="artikelen">
    <div class="artikel"> </div>
    <div class="artikel"> </div>
    <div class="artikel"> </div>
    <div class="artikel"> </div>
    <div class="artikel"> </div>
    <div class="artikel"> </div>
</div>