body {
    background-image: url(/Images/defaultOp.png);
    background-attachment: fixed;
}

h1 {
    color: white;
}

.artikelen {
    width: 100%;
}

.artikel {
    display: inline-block;
    height: 500px;
    border: solid 1px black;
    width: 30%;
    margin-top: 3%;
    margin-right: 3%;
}   